*{
margin: auto;
padding: 0 auto;
box-sizing: 10px;
font-family: 'Poppins', sans-serif;
}

.header{
align-items: center;
color: white;
display: flex;
height: 80px;
padding-left: 50px;
}
.imgheader{
z-index: -1;
position: absolute;
width: 100%;
height: 100vh;
}

.listitems{
display: flex;
list-style: none;
align-items: center;
color: #dfe6e9;
}
.listitem{
padding-right:35px;
}

.textheader{
position: absolute;
width: 500px;
color: white;
left: 250px;
margin-top: 33vh;
padding : 20px 20px 20px 35px ;
border: solid white 2px;
}

.main{
margin-top: 99vh;
display: flex;
position: relative;
}
.imgmain{
height:52vh ;
width:78vh ;
left: 100px;
z-index: -1;
position: absolute;
box-shadow: 5px 0px 5px 0px #888888;

}
.textbox{
align-items: center;
padding:30px 30px 0px 30px ;
display: grid;
margin: auto;
border: solid 1px white;
width:1000px;
margin-top: 30vh;
height: 300px;
background-color:white;
margin-left:400px;
box-shadow: 5px 0px 5px 0px #888888;
margin-right: 100px;
}

.creations{
margin-left: 100px;
margin-top: 10vh;
margin-bottom:10vh;
}

.section{
align-items: center;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.imgcre:hover{
opacity: 0.5;
cursor: pointer;
}

.first{
margin: 0px 0px 0px 0px;
}


.deep{
position: relative;
text-align: center;
top:380px;
}

.curio{
	position: relative;
	top:380px;
	text-align: center;
}
.above{
	position: relative;
	text-align: center;
	top:380px;
}
.fisheye{
	position: relative;
	text-align: center;
	top:380px;
}

.first{
position: relative;
color: yellow;
}

.nav-links{
	color:white;
	text-decoration: inherit;
}


/* about us css  */
.contact-us {
	background: #f8f4e5;
	padding: 50px 100px;
	border-top: 10px solid #f45702;
  }
  
  label, input, textarea {
	display: block;
	width: 100%;
	font-size: 12pt;
	line-height: 24pt;
	font-family: "Spartan";
  }
  
  input {
	margin-bottom: 24pt;
  }
  
  h3 {
	font-weight: normal;
	font-size: 10pt;
	line-height: 24pt;
	font-style: italic;
	margin: 0 0 0.5em 0;
  }
  
  span {
	font-size: 8pt;
  }
  
  em {
	color: #f45702;
	font-weight: bold;
  }
  
  input, textarea {
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background: #f8f4e5;
	padding-left: 5px;
	outline: none;
  }
  
  input:focus, textarea:focus {
	border: 1px solid #6bd4b1;
  }
  
  textarea {
	resize: none;
  }
  
  button {
	display: block;
	float: right;
	line-height: 24pt;
	padding: 0 20px;
	border: none;
	background: #f45702;
	color: white;
	letter-spacing: 2px;
	transition: 0.2s all ease-in-out;
	border-bottom: 2px solid transparent;
	outline: none;
  }
  button:hover {
	background: inherit;
	color: #f45702;
	border-bottom: 2px solid #f45702;
  }
  
  ::selection {
	background: #ffc7b8;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
	border: 1px solid #6bd4b1;
	-webkit-text-fill-color: #2A293E;
	-webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
	transition: background-color 5000s ease-in-out 0s;
  }

  /* product css */
  .courses-container {
	
  }
  
  .course {
	  background-color: #fff;
	  border-radius: 10px;
	  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	  display: flex;
	  max-width: 100%;
	  margin: 20px;
	  overflow: hidden;
	  width: 700px;
  }
  
  .course h6 {
	  opacity: 0.6;
	  margin: 0;
	  letter-spacing: 1px;
	  text-transform: uppercase;
  }
  
  .course h2 {
	  letter-spacing: 1px;
	  margin: 10px 0;
  }
  
  .course-preview {
	  color: #fff;
	  padding: 30px;
	  min-width: 250px;
	  min-height: 300px;
  }
  
  .course-preview a {
	  color: #fff;
	  display: inline-block;
	  font-size: 12px;
	  opacity: 0.6;
	  margin-top: 30px;
	  text-decoration: none;
  }
  
  .course-info {
	  padding: 30px;
	  position: relative;
	  width: 100%;
  }
  
  .progress-container {
	  position: absolute;
	  top: 30px;
	  right: 30px;
	  text-align: right;
	  width: 150px;
  }
  
  .progress {
	  background-color: #ddd;
	  border-radius: 3px;
	  height: 5px;
	  width: 100%;
  }
  
  .progress::after {
	  border-radius: 3px;
	  background-color: #2A265F;
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 5px;
	  width: 66%;
  }
  
  .progress-text {
	  font-size: 10px;
	  opacity: 0.6;
	  letter-spacing: 1px;
  }
  
  .btn {
	  background-color: #2A265F;
	  border: 0;
	  border-radius: 50px;
	  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	  color: #fff;
	  font-size: 16px;
	  padding: 12px 25px;
	  position: absolute;
	  bottom: 30px;
	  right: 30px;
	  letter-spacing: 1px;
  }
  
  /* SOCIAL PANEL CSS */
  .social-panel-container {
	  position: fixed;
	  right: 0;
	  bottom: 80px;
	  transform: translateX(100%);
	  transition: transform 0.4s ease-in-out;
  }
  
  .social-panel-container.visible {
	  transform: translateX(-10px);
  }
  
  .social-panel {	
	  background-color: #fff;
	  border-radius: 16px;
	  box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	  border: 5px solid #001F61;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  font-family: 'Muli';
	  position: relative;
	  height: 169px;	
	  width: 370px;
	  max-width: calc(100% - 10px);
  }
  
  .social-panel button.close-btn {
	  border: 0;
	  color: #97A5CE;
	  cursor: pointer;
	  font-size: 20px;
	  position: absolute;
	  top: 5px;
	  right: 5px;
  }
  
  .social-panel button.close-btn:focus {
	  outline: none;
  }
  
  .social-panel p {
	  background-color: #001F61;
	  border-radius: 0 0 10px 10px;
	  color: #fff;
	  font-size: 14px;
	  line-height: 18px;
	  padding: 2px 17px 6px;
	  position: absolute;
	  top: 0;
	  left: 50%;
	  margin: 0;
	  transform: translateX(-50%);
	  text-align: center;
	  width: 235px;
  }
  
  .social-panel p i {
	  margin: 0 5px;
  }
  
  .social-panel p a {
	  color: #FF7500;
	  text-decoration: none;
  }
  
  .social-panel h4 {
	  margin: 20px 0;
	  color: #97A5CE;	
	  font-family: 'Muli';	
	  font-size: 14px;	
	  line-height: 18px;
	  text-transform: uppercase;
  }
  
  .social-panel ul {
	  display: flex;
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
  }
  
  .social-panel ul li {
	  margin: 0 10px;
  }
  
  .social-panel ul li a {
	  border: 1px solid #DCE1F2;
	  border-radius: 50%;
	  color: #001F61;
	  font-size: 20px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 50px;
	  width: 50px;
	  text-decoration: none;
  }
  
  .social-panel ul li a:hover {
	  border-color: #FF6A00;
	  box-shadow: 0 9px 12px -9px #FF6A00;
  }
  
  .floating-btn {
	  border-radius: 26.5px;
	  background-color: #001F61;
	  border: 1px solid #001F61;
	  box-shadow: 0 16px 22px -17px #03153B;
	  color: #fff;
	  cursor: pointer;
	  font-size: 16px;
	  line-height: 20px;
	  padding: 12px 20px;
	  position: fixed;
	  bottom: 20px;
	  right: 20px;
	  z-index: 999;
  }
  
  .floating-btn:hover {
	  background-color: #ffffff;
	  color: #001F61;
  }
  
  .floating-btn:focus {
	  outline: none;
  }
  
  .floating-text {
	  background-color: #001F61;
	  border-radius: 10px 10px 0 0;
	  color: #fff;
	  font-family: 'Muli';
	  padding: 7px 15px;
	  position: fixed;
	  bottom: 0;
	  left: 50%;
	  transform: translateX(-50%);
	  text-align: center;
	  z-index: 998;
  }
  
  .floating-text a {
	  color: #FF7500;
	  text-decoration: none;
  }
  
  @media screen and (max-width: 480px) {
  
	  .social-panel-container.visible {
		  transform: translateX(0px);
	  }
	  
	  .floating-btn {
		  right: 10px;
	  }
  }

  .product{
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
  }